<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/lognsignin.css" />
    <title>Signup</title>
  </head>

  <body>
    <div class="signupcontent">
      <div class="signupform">
        <h1
          style="
            text-align: center;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            font-family: sans-serif;
          "
        >
          Signup
        </h1>
        <label for="email" style="
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    font-family: sans-serif;
                    margin-top: 30px;
                  ">Name:</label>
        <input type="text" id="email" name="email" placeholder="abc@gmail.com" required />

        <label for="email" style="
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    font-family: sans-serif;
                    margin-top: 30px;
                  ">Email:</label>
        <input type="number" id="email" name="email" placeholder="abc@gmail.com" required />

        <label
          for="email"
          style="
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            font-family: sans-serif;
            margin-top: 30px;
          "
          >Email:</label
        >
        <input
          type="email"
          id="email"
          name="email"
          placeholder="abc@gmail.com"
          required
        />

        <label
          for="password"
          style="
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            font-family: sans-serif;
            margin-top: 30px;
          "
          >Password:</label
        >
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password#123"
          required
        />

        <button type="submit" class="logsubmit">Login</button>

        <p
          style="
            margin-top: 40px;
            text-align: center;
            font-weight: 400;
            font-family: sans-serif;
            line-height: 45px;
          "
        >
          <span style="font-size: 18px; color: #616161"
            >Already have an account?</span
          >
          <span>
            <a
              href="{{ url_for('login.login') }}"
              style="text-decoration: none; color: #ea8930; font-size: 20px"
            >
              Login
            </a>
          </span>
        </p>
      </div>
      <div class="img">
        <img src="{{ url_for('static', filename= '/images/signup.png') }}" alt="" />
      </div>
    </div>
  </body>
</html>
